
<div class="portlet box red">
    <div class="portlet-title">
      <div class="caption">
        <i class="fa fa-user"></i>
        New Delivery
      </div>
    </div>
    <div class="portlet-body form">
      <%= simple_form_for([@customer,@delivery], multipart: true) do |f| %>
        <%= f.error_notification %>
        <div class="form-body">
          <h3 class="form-sections">新聞</h3>
          
          <div class="row">
            <div class="col-md-6">
              <%= f.association :koran, as: :select, label: false %>
            </div>
            <div class="col-md-6">
              <div class="spinner pull-left">
                  <div class="input-group input-small">
                    
                     <%= f.text_field :amount, :class=>"spinner-input form-control", :maxlength=>"3", :readonly=>"" %>
                    <!-- <input type="text" readonly="" maxlength="3" class="spinner-input form-control"> -->
                    <div class="spinner-buttons input-group-btn btn-group-vertical">
                      <button class="btn spinner-up btn-xs blue" type="button">
                      <i class="fa fa-angle-up"></i>
                      </button>
                      <button class="btn spinner-down btn-xs blue" type="button">
                      <i class="fa fa-angle-down"></i>
                      </button>
                    </div>

                  </div>
                </div>
                <div style="margin-top:5px;margin-left:4px;" class="pull-left">Mai</div>
            </div>
            
          </div>
          <h3 class="form-section">Koran Option</h3>
          <h3 class="form-section">Days</h3>
          <%= f.input :monday, label: @days[0].name_kana,as: :boolean,wrapper_html: { class: 'checkbox-inline' } %>
          <%= f.input :tuesday,label: @days[1].name_kana,as: :boolean,wrapper_html: { class: 'checkbox-inline' } %>
          <%= f.input :wednesday,label: @days[2].name_kana,as: :boolean,wrapper_html: { class: 'checkbox-inline' } %>
          <%= f.input :thursday,label: @days[3].name_kana,as: :boolean,wrapper_html: { class: 'checkbox-inline' } %>
          <%= f.input :friday,label: @days[4].name_kana,as: :boolean,wrapper_html: { class: 'checkbox-inline' } %>
          <%= f.input :saturday,label: @days[5].name_kana,as: :boolean,wrapper_html: { class: 'checkbox-inline' } %>
          <%= f.input :sunday,label: @days[6].name_kana,as: :boolean,wrapper_html: { class: 'checkbox-inline' } %>

        </div>

        <div class="form-actions right">
          <%= f.button :submit,class: "btn-primary" %>
        </div>
      <% end %>
    </div>
</div>
    