<h1>新聞配達</h1>

<table class="table">
	<tr>
		<th>お客様</th>
		<th><%= @korans[0].name %></th>
		<th><%= @korans[1].name %></th>
		<th><%= @korans[2].name %></th>
		<th><%= @korans[3].name %></th>
		<th><%= @korans[4].name %></th>
		<th><%= @korans[5].name %></th>
		<th><%= @korans[6].name %></th>
		<th><%= @korans[7].name %></th>
		<th><%= @korans[8].name %></th>
		<th><%= @korans[9].name %></th>
	</tr>
</table>