<h3 class="page-title">お核様</h3>
<p id="notice"><%= notice %></p>
<div class="portlet box red">
    <div class="portlet-title">
      <div class="caption">
        <i class="fa fa-user"></i>
        お客様
      </div>
    </div>
    <div class="portlet-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th><i class="fa fa-user"></i> Name</th>
            <th><i class="fa fa-building"></i>Buiding Name</th>
            <th> Room Number</th>
            <th>新聞</th>
            <th >Copy</th>
            <th >Show</th>
            <th >Edit</th>
            <th >Delete</th>
          </tr>
        </thead>

        <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <td><%= customer.name %></td>
              <td><%= customer.building_name %></td>
              <td><%= customer.room_number %></td>
              <td><%= link_to '新聞', customer_deliveries_path(customer) %></td>
              <td><%= link_to 'Copy', copy_customer_path(customer) %></td>
              <td><%= link_to 'Show', customer %></td>
              <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
              <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>

<%= link_to 'New Customer', new_customer_path %>
