<h3 class="page-title">Calendar</h3>
<p id="notice"><%= notice %></p>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-advance table-hover">
    <thead>
      <tr>
        <th><i class="fa fa-user"></i> Name</th>
        <th><i class="fa fa-building"></i>Buiding Name</th>
        <th> Room Number</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.name %></td>
          <td><%= customer.building_name %></td>
          <td><%= customer.room_number %></td>
          <td><%= link_to 'Show', customer %></td>
          <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
          <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<%= link_to 'New Customer', new_customer_path %>
