<div class="portlet light">
	<div class="portlet-title">
		<div class="caption font-green-haze">
			<i class="icon-settings font-green-haze"></i>
			<span class="caption-subject bold uppercase"> Koran</span>
		</div>
		<div class="actions">
			<a href="javascript:;" class="btn btn-circle btn-icon-only blue">
			<i class="icon-cloud-upload"></i>
			</a>
			<a href="javascript:;" class="btn btn-circle btn-icon-only green">
			<i class="icon-wrench"></i>
			</a>
			<a href="javascript:;" class="btn btn-circle btn-icon-only red">
			<i class="icon-trash"></i>
			</a>
			<a title="" data-original-title="" href="javascript:;" class="btn btn-circle btn-icon-only btn-default fullscreen">
			</a>
		</div>
	</div>
	<div class="portlet-body form">
		<%= simple_form_for(@koran,{ :class => 'form-horizontal' }) do |f| %>
		  <%= f.error_notification %>
  		  <%= f.input :name %>
  		  <%= f.input :image,as: :file %>
  		  <%= f.input :website %>
  		  <%= f.input :monday,label: @days[0].name_kana,as: :boolean %>
  		  <%= f.input :tuesday,label: @days[1].name_kana,as: :boolean %>
  		  <%= f.input :wednesday,label: @days[2].name_kana,as: :boolean %>
  		  <%= f.input :thursday,label: @days[3].name_kana,as: :boolean %>
  		  <%= f.input :friday,label: @days[4].name_kana,as: :boolean %>
  		  <%= f.input :saturday,label: @days[5].name_kana,as: :boolean %>
  		  <%= f.input :sunday,label: @days[6].name_kana,as: :boolean %>

		  <div class="form-actions">
		    <%= f.button :submit,class: 'btn btn-primary',value: 'Submit' %>
		  </div>
		<% end %>
	</div>
</div>

