<p id="notice"><%= notice %></p>

<h1>新聞</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th><%= @days[0].name_kana %></th>
      <th><%= @days[1].name_kana %></th>
      <th><%= @days[2].name_kana %></th>
      <th><%= @days[3].name_kana %></th>
      <th><%= @days[4].name_kana %></th>
      <th><%= @days[5].name_kana %></th>
      <th><%= @days[6].name_kana %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @korans.each do |koran| %>
      <tr>
        <td><%= koran.name %></td>
        <td><%= koran.monday ? raw('<i class="glyphicon glyphicon-ok"></i>') : raw('<i class="glyphicon glyphicon-remove"></i>') %></td>
        <td><%= koran.tuesday ? raw('<i class="glyphicon glyphicon-ok"></i>') : raw('<i class="glyphicon glyphicon-remove"></i>') %></td>
        <td><%= koran.wednesday ? raw('<i class="glyphicon glyphicon-ok"></i>') : raw('<i class="glyphicon glyphicon-remove"></i>') %></td>
        <td><%= koran.thursday ? raw('<i class="glyphicon glyphicon-ok"></i>') : raw('<i class="glyphicon glyphicon-remove"></i>') %></td>
        <td><%= koran.friday ? raw('<i class="glyphicon glyphicon-ok"></i>') : raw('<i class="glyphicon glyphicon-remove"></i>') %></td>
        <td><%= koran.saturday ? raw('<i class="glyphicon glyphicon-ok"></i>') : raw('<i class="glyphicon glyphicon-remove"></i>') %></td>
        <td><%= koran.sunday ? raw('<i class="glyphicon glyphicon-ok"></i>') : raw('<i class="glyphicon glyphicon-remove"></i>') %></td>
        <td><%= link_to 'Show', koran %></td>
        <td><%= link_to 'Edit', edit_koran_path(koran) %></td>
        <td><%= link_to 'Destroy', koran, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Koran', new_koran_path %>
